<section class="createAccount">
      <div class="createHeader">Concert</div>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.venue_name}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Date</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.date}}
                </p>
              </div>
      </section>
      
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Guarantee</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.guarantee}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Presales</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.presale_amount}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Sold</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.presale_sold}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Payout</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.actual_payout}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Merch</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{concert.merch_sales}}
                </p>
              </div>
      </section>
      
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">User ID</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                 {{user.id}}
                 {{#if user.band_name}}
                 {{user.band_name}}
                 {{/if}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue ID</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.id}}
                  {{venue.venue_name}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        {{concert.comments}}
      </section>
      <section class="inputBox"> 
        <label class="checkbox">
            {{#if concert.twenty_one_plus}}
            <p>21 and up only</p>
            {{else}}
            <p>All Ages</p>
            {{/if}}
          </label>
      </section>
      
          
</section>