<section class="createAccount">
    <div class="createHeader">Venue</div>
      <form id="post-venue">
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.venue_name}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue City</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.venue_city}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue State</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.venue_state}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Contact Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.contact_email}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Phone Number</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.phone}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Management</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.mgmt}}
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Engineer</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  {{venue.engineer}}
                </p>
              </div>
      </section>
      <section class="inputBox">
          <label class="label">Rating</label>
        <div class="field is-horizontal">
            <p>{{venue.rating}} out of 5 </p>
      </section>
      
</section>